.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}
.modal-content {
  display: block;
  background: white;
  max-width: 630px;
  width: calc(80% - 210px); /* 105px padding on each side */
  margin: 100px auto;
  border-radius: 8px;
  position: relative;
  padding: 60px 0;
}

.modal-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.modal-header h2 {
  font-family: work sans;
  font-size: 26px;
  font-weight: 400;
  color: #000;
  padding: 0;
  margin: 0;
}

.modal-gallery-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 48px;
  padding: 0 105px;
}

.modal-gallery {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 items per row */
  gap: 8px;
  width: 100%; /* Ensure the grid takes full width */
  padding: 0;
  margin: 0 auto; /* Center the grid box */
}

.modal-gallery figure {
  position: relative;
  width: 100%;
  margin: 0;
}

.modal-gallery img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 2px;
}

.modal-gallery .delete-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 6.5px 5.5px 0 0;
  position: absolute;
  top: 0;
  right: 0;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  max-width: 17px;
  height: auto;
}

.modal-gallery .delete-btn:hover {
  background-color: #333;
}

.modal-separator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #ccc;
  margin-top: 68px;
  width: 100%;
}

/* Add Photo Section */
.add-photo {
  display: flex;
}

.add-photo-btn {
  background-color: #1d6154;
  color: white;
  border: none;
  border-radius: 60px;
  padding: 10px 50px;
  margin-top: 38px;
  font-weight: 700;
  font-size: 14px;
  font-family: "Syne";
  cursor: pointer;
}

.add-photo-btn:hover {
  background-color: #0e2f28;
}

.modal-footer {
  margin-top: 15px;
  display: flex;
  justify-content: flex-end;
}

.close-btn {
  background: none;
  border: none;
  font-size: 24px;
  width: 24px;
  height: auto;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  margin: 26px 30px 0 0;
}

.close-btn:hover {
  color: #ccc;
}
